footer{
    display: flex;
    gap: 24px;
    padding-block: 24px;
    font: 14px/150% var(--font-family);
}

footer div{
    margin-right: auto;
}

@media (width <= 79em) {
    footer{
        flex-wrap: wrap;
    }
    footer > div{
        display: flex;
        width: 100%;
        text-align: center;
        gap: 1rem;
        justify-content: center;
    }
}