header{
    padding-block: 32px;
    font: var(--text-md);
}

header .container{
    display: flex;
    justify-content: space-between;
}
#profile{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-inline: 1rem;
    width: 100%;
}

#profile > div{
    max-width: 384px;
    margin-right: auto;
}

#profile > img{
    width: 7.5rem;
    height: 7.5rem;
    object-fit: cover;
    border-radius: 50%;
}

#profile h1{
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}

#profile p{
    
}
#info{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 280px;
}

#info li{
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (width >= 80em){
    #profile{
        padding: 0;
    }

    #profile > img{
        width: 11rem;
        height: 11rem;
    }
}