main{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}
main img{
    width: 286px;
    height: 286px;
    object-fit: cover;
}

@media (width <= 79em) {
    main img{
        width: 20.5rem;
        height: 20.5rem;
    }
}